---
import Layout from "../layouts/Layout.astro";
import "../assets/iconfont.css";
import { Skill } from "../components/Skill";
import config from "../../meta.config";

const { skills, name } = config;

---

<Layout title="Welcome to lixiaoiqiang">
  <div class="mt-6 max-w-screen-lg md:flex mx-auto">
    <div class="md:w-1/3 p-2 relative">
      <div class="md:fixed">
        <div class="md:block">
          <div class="flex justify-center">
            <img
              class="h-32 w-32 rounded-full mx-auto mx-4"
              src="https://avatars.githubusercontent.com/u/12064746?v=4"
            />
          </div>
          <div class="mb-12 text-center mt-4 justify-center items-center">
            <h1 class="text-2xl text-xl text-gray-800 font-bold">{name}</h1>
            <div class="md:text-lg text-gray-600">前端工程师</div>
            <div class="md:text-lg text-gray-600">8年工作经验</div>
            <div class="text-gray-600 md:hidden mt-1">(wx: GZhiDao1010)</div>
          </div>
        </div>
        <div class="mx-4 my-4 hidden md:block">
          <div class="my-5 text-lg text-gray-600 flex">
            <div class="mr-2">
              <span class="iconfont icon-wechat"></span>
            </div>
            GZhiDao1010
          </div>
          <div class="my-5 text-lg text-gray-600 flex">
            <div class="mr-2">
              <span class="iconfont icon-Phoneshouji"></span>
            </div>
            15347478126
          </div>
          <div class="my-5 text-lg text-gray-600 flex">
            <div class="mr-2">
              <span class="iconfont icon-email"></span>
            </div>
            gzhidao1011@gmail.com
          </div>
          <div class="my-5 text-lg text-gray-600 flex">
            <div class="mr-2">
              <span class="iconfont icon-position"></span>
            </div>
            广东/惠州仲恺
          </div>
        </div>
      </div>
    </div>
    <div class="md:w-2/3 p-2 w-full">
      <div class="mx-4">
        <h1 class="mb-4 text-2xl text-gray-700 font-bold">工作经历</h1>
        <ul>
          <li class="mb-4">
            <h2 class="text-1xl font-medium text-gray-800">广东**科技有限公司 技术总监 前端负责人</h2>
            <div>
              <i class="bx bx-calendar text-sm" style="color: #666"></i>
              <small class="text-gray-600">2016年5月 - 至今</small>
            </div>
            <div class="mt-1">
              <div>
                <h3 class="text-2xl font-medium text-gray-800">工作职责</h3>
                <p>负责前端技术选型、架构设计、技术培训和技术评审等工作。</p>
                <p>进行前端团队管理，协调项目开发进度并解决技术难题。</p>
              </div>
            </div>
            <div class="mt-1">
              <div>
                <h3 class="text-2xl font-medium text-gray-800">项目经验</h3>
              </div>
            </div>
            <div class="mt-1">
              <div>
                <h3 class="text-1xl font-medium text-gray-800">1、自动化部署</h3>
                <p>搭建前端GitLab线上CI打包流程，实现多环境分发内容，包括Web端和小程序的线上部署。</p>
              </div>
            </div>
            <div class="mt-1">
              <div>
                <h3 class="text-1xl font-medium text-gray-800">2、客户端</h3>
                <p>使用Electron框架开发window/Mac客户端应用，对接多种硬件设备，如打印机、电子秤、收银数字屏、NFC和钱箱等。</p>
              </div>
            </div>
            <div class="mt-1">
              <div>
                <h3 class="text-1xl font-medium text-gray-800">3、打印</h3>
                <p>搭建打印拖拽项目，实现拖拽生成小票模板功能，包括小票打印、标签打印、针式打印和不干胶打印。</p>
              </div>
            </div>
            <div class="mt-1">
              <div>
                <h3 class="text-1xl font-medium text-gray-800">4、公共业务动态插件库</h3>
                <p>封装地图组件、素材库、富文本编辑器、搞定设计、链接库等公共插件。</p>
              </div>
            </div>
            <div class="mt-1">
              <div>
                <h3 class="text-1xl font-medium text-gray-800">5、总后台</h3>
                <p>使用Qiankunjs库搭建微前端架构系统，实现独立运行、独立开发、独立部署。</p>
              </div>
            </div>
            <div class="mt-1">
              <div>
                <h3 class="text-1xl font-medium text-gray-800">6、源码二开</h3>
                <p>有vant-ui、element-ui、element-plus-ui、uview-ui的源码二次开发经验。</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="mx-4">
        <h1 class="mb-4 text-2xl text-gray-700 font-bold">技术</h1>
        <ul>
          <li class="mb-6 flex flex-wrap">
            {
              skills.map((name) => {
                return <Skill name={name} client:load />;
              })
            }
          </li>
        </ul>
      </div>
    </div>
  </div>
</Layout>
