---
import Layout from "../layouts/Layout.astro";
import "../assets/iconfont.css";
import { Skill } from "../components/Skill";
import config from "../../meta.config";

const { skills, name } = config;

---

<Layout title="技术创造奇迹">
  <div class="mt-6 max-w-screen-lg md:flex mx-auto">
    <div class="md:w-2/3 p-2 w-full">
      <div class="mx-4">
        <h1 class="mb-4 text-2xl text-gray-700 font-bold">个人信息</h1>
        <ul>
          <li class="mb-4">
            <div class="text-0xl font-medium text-gray-800">姓名：李小强</div>
            <div class="text-0xl font-medium text-gray-800">电话：15363890591</div>
            <div class="text-0xl font-medium text-gray-800">邮箱：gzhidao1011@gmail.com</div>
            <div class="text-0xl font-medium text-gray-800">出生： 1990年11月 33岁 广东河源   汉族</div>
            <div class="text-0xl font-medium text-gray-800">学历：广东工业大学华立学院  2010-2014  工商管理（信息化）</div>
            <div class="text-0xl font-medium text-gray-800">其它：喜欢逛Github 代码洁癖 国风音乐 B站爱好者</div>
          </li>
        </ul>
        <h1 class="mb-4 text-2xl text-gray-700 font-bold">求职意向</h1>
        <ul>
          <li class="mb-4">
            <div class="text-0xl font-medium text-gray-800">前端开发</div>
          </li>
        </ul>
        <h1 class="mb-4 text-2xl text-gray-700 font-bold">工作经历</h1>
        <ul>
          <li class="mb-4">
            <h2 class="text-1xl font-medium text-gray-800">广东谷通科技有限公司 前端负责人  <small class="text-gray-600">2016年5月 - 至今</small></h2>
            <div class="mt-1">
                <h3 class="text-2xl font-medium text-gray-800">项目经验</h3>
            </div>
            
            <div class="mt-1">
                <h3 class="text-1xl font-medium text-gray-800">一、SASS中台前端重构</h3>
                <ul  class="list-disc text-sm" style="padding-left:20px;">
                  <li class="text-gray-600" style="padding-bottom:10px;">对公司现有中台前端系统进行重构，采用了最新的前端技术和架构方案，包括Vue3、Vite、Element Plus等。通过重构和优化，提高了系统的稳定性、可维护性和性能，同时满足了多端适配的需求，确保在平板、桌面端和各种浏览器上都有良好的表现。</li>
                   <li class="text-gray-600" style="padding-bottom:10px;">负责前端架构设计和技术选型，优化了核心模块的设计和实现，确保了系统的可扩展性和性能优化。</li>
                </ul>
            </div>
            <div class="mt-1">
                <h3 class="text-1xl font-medium text-gray-800">二、Electron桌面端对接多种硬件设备</h3>
                <ul  class="list-disc text-sm" style="padding-left:20px;">
                  <li class="text-gray-600" style="padding-bottom:10px;">使用Electron框架开发，使用 nodeJs 技术对接了多种硬件设备，包括但不限于打印机、电子秤、收银数字屏、NFC和钱箱等。</li>
                  <li class="text-gray-600" style="padding-bottom:10px;">使用拖拽技术，实现了打印模板的自定义拖拽，在打印模板中，可以拖拽图片、文字、二维码等元素，实现自定义打印效果。并且支持网口、串口、并口、USB类型的打印机。</li>
                </ul>
            </div>

            <div class="mt-1">
                <h3 class="text-1xl font-medium text-gray-800">三、CI/CD自动化部署</h3>
                <ul  class="list-disc text-sm" style="padding-left:20px;">
                  <li class="text-gray-600" style="padding-bottom:10px;">搭建前端GitLab线上CI打包流程，实现多环境分发内容，包括Web端和小程序的线上部署。通过引入Docker、Nginx、CDN等技术，优化了打包和部署流程，提高了项目交付的效率和稳定性。</li>
                  <li class="text-gray-600"  style="padding-bottom:10px;">设计并实现了CI/CD流程，包括代码检查、打包、测试和部署等环节，确保了代码质量和交付的可靠性。</li>
                   <li class="text-gray-600"  style="padding-bottom:10px;">集成了Docker容器化技术，实现了打包的标准化和环境的隔离，简化了项目的部署和配置。</li>
                   <li class="text-gray-600"  style="padding-bottom:10px;">利用Nginx反向代理和CDN加速，优化了项目的静态资源加载速度，提升了用户访问体验和网站性能。</li>
                </ul>
            </div>
            
            <div class="mt-1">
                <h3 class="text-1xl font-medium text-gray-800">四、公共业务动态插件库</h3>
                <ul  class="list-disc text-sm" style="padding-left:20px;">
                  <li class="text-gray-600" style="padding-bottom:10px;">搭建公共业务动态插件库，该库包含地图组件、素材库、富文本编辑器等公共插件，通过统一封装和动态加载，使得不同项目可以快速集成和使用这些插件，从而减少重复开发工作。</li>
                  <li class="text-gray-600" style="padding-bottom:10px;">负责地图组件和素材库的设计和开发，实现了地图展示、标注和搜索等功能，以及素材的分类管理和搜索功能。</li>
                  <li class="text-gray-600" style="padding-bottom:10px;">利用ES模块化和动态加载技术，实现了插件的按需加载，减小了页面初始化的体积和加载时间。</li>
                  <li class="text-gray-600" style="padding-bottom:10px;">二次开发百度富文本编辑器，使富文本编辑器的性能和用户体验，支持多种编辑功能和格式化选项。</li>
                </ul>
            </div>
            <div class="mt-1">
                <h3 class="text-1xl font-medium text-gray-800">五、微前端搭建SASS总后台管理系统</h3>
                <ul  class="list-disc text-sm" style="padding-left:20px;">
                  <li class="text-gray-600" style="padding-bottom:10px;">在总后台项目中，我采用了Qiankunjs库搭建了高效的微前端架构系统。通过微前端思想，实现了总后台各模块的独立运行、开发和部署，提升了可维护性和扩展性。</li>
                  <li class="text-gray-600" style="padding-bottom:10px;">架构中将总后台系统拆分为独立的子应用，每个可独立开发、测试和部署。Qiankunjs提供了微前端解决方案，保证了子应用之间的资源隔离和通信。这使得团队能更灵活开发，各自推进业务逻辑，同时方便模块化测试和调试，提高了开发效率。这种架构解决了开发、部署和维护挑战，为公司业务快速迭代提供了支持。</li>
                </ul>
            </div>
          </li>
        </ul>
      </div>
      <div class="mx-4">
        <h1 class="mb-4 text-2xl text-gray-700 font-bold">技术</h1>
        <ul>
          <li class="mb-6 flex flex-wrap">
            {
              skills.map((name) => {
                return <Skill name={name} client:load />;
              })
            }
          </li>
        </ul>
      </div>
    </div>
  </div>
</Layout>
